@import 'https://fonts.googleapis.com/css?family=Amatica+SC';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';



h1, p{
	font-family: 'Amatica SC', sans-serif;
	font-weight: normal;
	font-size: 2.5em;
	text-align: center;
	color: #5F6F9C;
	margin:;
}


h2{
	font-family: 'Amatica SC', sans-serif;
	font-weight: normal;
	font-size: 1.6em;
	font-style: italic;
	text-align: center;
    color: #5F6F9C;
	margin: ;
}


p{
	font-size: 2.2em;
}


ul {
	font-family: 'Open Sans Condensed', 'Ariel', sans-serif;
	font-weight: normal;
    text-align: center;
    list-style-type: none;
}


li {
	color: #5F6F9C;
}


#floralcamera{
	background-size: 150px;
	width:;
	position: absolute;
    bottom: 0px;
    left: 0px;
}


#burnt{
	background-size: 150px;
	width:;
	position: absolute;
    top: 0px;
    right: 0px;

}


body{
	background-color: #000000;
	font-size: 25px; 1em = 25px
}

nav a{
	color: #5F6F9C;
	text-align: center;
	font-family: "Open Sans Condensed", sans-serif;
}



a{ 
	font-family: "Open Sans Condensed", sans-serif;
	font-size: 0.8em;
	color: #5F6F9C;
	text-decoration: none;
	text-align: center;
}

p a{
	font-size: 0.8em;
	color: #5F6F9C;
}



