



h1, p{
	color: #483DB8; text-align: center; font-family: Goudy Old Style;
}

p{
	font-style: italic; font-size: 14px;
}

body{
	background-color: #000000;
}

img{ 
	margin: auto; background-size: 150px;
}