@import 'https://fonts.googleapis.com/css?family=Amatica+SC';
@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';



h1, p{
	font-family: 'Amatica SC', sans-serif;
	font-weight: normal;
	font-size: ;
	text-align: center;
	color: #483DB8;
	margin: ;
}

p{
	font-style: italic; font-size: 26px;
}

ul {
    text-align: center;
    list-style-type: none;
}

li {
	color: #483DB8;
}

body{
	background-color: #000000;
	font-size: 16px; 1em = 16px
}

img{ 
	margin: auto; background-size: 150px;
}


a{
	text-align: center; color: #483DB8
}